// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.task{
	background: #eee;
	padding: 20px;
	border-radius: 15px;
	opacity: 0.9;
	margin:10px;
	transition: all 0.5s;
}

.task .description{
	border-radius: 15px;
	margin:10px;
}

.task:hover{
	padding: 25px;
	border-radius: 20px;
	opacity: 1;
}

.task .task-title{
	font-size: 24px;
	font-weight: bold;
}

.sticky-btn a:visited{
	 background: #5cb85c;
	 color:white;
	 text-decoration: none;
}

.sticky-btn a{
	background: #5cb85c;
	color:white;
}

.sticky-btn > a{ 
	color:white;
	cursor: pointer;
	position: fixed;
	bottom:15px;
	right:15px;
	display: block;
	border-radius: 50%;
	text-align: center;
	line-height:50px;
	font-size: 110%;
	background: #5cb85c;
	height:50px;
	width:50px;
	transition: all 0.5s;
}	

.sticky-btn:hover{
	bottom: 20px;
}

.sticky-btn a:hover{
	color:white;
	text-decoration: none;
	background: #5cb85c;
}



.task {
	.well, hr, p{
		margin-bottom:5px !important;
		margin-top:1px !important;
	}
}